---
import Defrag from '../components/Defrag.svelte';
import DefragName from '../components/DefragName.svelte';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>James Harris</title>
	</head>
	<body>
		<DefragName client:load />
		<div class="flex flex-row">
			<div class="flex flex-col">
				<section>
					<h2 class="text-2xl">Guides</h2>
					<ul>
						<li><a href="">Cheap, effortless backups</a></li>
						<li><a href="">File syncing</a></li>
						<li><a href="">Password vault</a></li>
						<li><a href="">Blocking every cookie notice on the internet</a></li>
					</ul>
				</section>
				<section>
					<h2 class="text-2xl">Tools</h2>
					<ul>
						<li><a href="">Batch vision</a></li>
						<li><a href="">Name generator</a></li>
						<li><a href="">VSCode Theme</a></li>
					</ul>
				</section>
				<section>
					<h2 class="text-2xl">Blogroll</h2>
					<ul>
						<li><a href="https://simonwillison.net/">Simon Willison</a></li>
						<li><a href="https://ncase.me/">Nicky Case</a></li>
						<li><a href="https://www.astralcodexten.com/">Scott Alexander</a></li>
					</ul>
				</section>
			</div>
			<div class="flex flex-col"></div>
		</div>

	</body>
</html>
