---
import MainLayout from "./MainLayout.astro";
const { frontmatter } = Astro.props;

---

<MainLayout pageTitle={frontmatter.title}>
    <h3 class="text-xl italic" transition:name={`post-title-${Astro.url.pathname}`}>{frontmatter.title}</h3>
    <slot />
</MainLayout>